<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ATS Testing Suite">

	 <listeners>
		<listener class-name="com.Ats.qa.Util.TestListener" />
	</listeners>


   <test name="Smoke Test">
    <classes>
             <class name="com.Ats.qa.Testcase.LoginPageTest"/>
             
             
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->